<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active">
        <a href="/healthtips"><span class="glyphicon glyphicon-up"></span> Health Tips</a>
      </li>
    </ul>
    <!--ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/help"><span class="glyphicon glyphicon-book"></span> Help</a>
      </li>
    </ul-->
  </div>
</nav>
