<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <h2>Health Tips</h2>
    <p style="font-size: 12px;">lets follow these for good health.</p>
  </div>
  <hr/>
  <div class="container">
    <ol class="list-group">
      <li class="list-group-item" style="color: black;">Eat a variety of foods</li>
      <li class="list-group-item" style="color: black;">Base your diet on plenty of foods rich in carbohydrates</li>
      <li class="list-group-item" style="color: black;">Replace saturated with unsaturated fat</li>
      <li class="list-group-item" style="color: black;">Enjoy plenty of fruits and vegetables</li>
      <li class="list-group-item" style="color: black;">Reduce salt and sugar intake</li>
      <li class="list-group-item" style="color: black;">Eat regularly, control the portion size</li>
      <li class="list-group-item" style="color: black;">Drink plenty of fluids</li>
      <li class="list-group-item" style="color: black;">Maintain a healthy body weight</li>
      <li class="list-group-item" style="color: black;">Get on the move, make it a habit!</li>
    </ol>
  </div>
</div>
</body>
</html>
